.header{
    background: url("../img/img00.jpg") no-repeat center top;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-size:cover;
    min-height: 500px;
}

.logo img{
    margin-left: 5%;
    width: 5%;
    position: absolute;
    margin-top: 1.5em; 
}

/* menu */
.top-menu{
    float:right;
    margin-top: 1.5em;
    margin-right: 7em;
}
.top-menu ul li{
	display: inline-block;
	padding: 5px 15px 0px 15px;
}
.top-menu ul li a{
	font-size: 1.3em;
	color: #fff;
    text-decoration: none;
	text-transform: uppercase;
	
}
.top-menu ul li a:hover {
    color: red;
    border-bottom: .1em solid white;
}

/* banner-box */
.banner article{
    position: absolute;
    width: 100%;
    height: 50%;
    font-size: 2.4em;
    top: 35%; 
    opacity: 5;
}
.banner-wrap {
	padding-top: 9em;
}
.banner_center {
    width: 70%;
    height: 50%;
	position: absolute;
	top: 5%;
	left: 5%;
	text-align: left;
}
.banner_center h1 {
	color: #eee;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
}

/* content */
.content{
    background-color: whitesmoke;
}
.heading1 {
    margin-top: 0px;
    color: red;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px 80px 1px 70px;
}
.content p{
    padding: 30px 80px 1px 70px;
    font-family: 'arvo', sans-serif;
    font-size: 1.5em;
    line-height: 45px;
    color: #072833;
    margin: 0 0 0px;
}
.heading2 {
    margin-top: 0px;
    color: red;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px 80px 1px 70px;
}

/* in-touch */
.heading3 {
    margin-top: 0px;
    text-align: center;
    color: #072833;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px 80px 1px 70px;
}
.in-touch-box{
    background-color: gray;
    padding: 0px 0px;
}
.input_main{
	width: 100%;
	float: left;
	background-color: gray;
    padding: 40px 20px;
}
.form-group {
    display: block;
    width: 100%;
    padding: .365rem .30rem;
    font-size: .1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #072833;
    background-clip: padding-box;
    border: 1px solid #072833;
    border-radius: 12px;
    border: 0px;
}
.send_btn{
    padding-left: 7%;
}
.send_btn a{
    color: #fff;
    text-decoration: none;
}
.main_bt {
    background: #ce4109;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 12px;
    font-size: 22px;
}
.main_bt:hover{
    opacity: 1;
    background-color: #072833;
}
.email-bt{
	background: #fff;
    border: none;
    color: #072833;
    width: 100%;
    height: 55px;
    border-radius: 12px;
    font-size: 22px;
    padding: 20px;
}
.massage-bt{
	background: #fff;
    border: none;
    color: #072833;
    width: 100%;
    height: 145px;
    border-radius: 12px;
    font-size: 22px;
    padding: 20px;
}

/* contacts */
.contact-header {
    text-align: center;
	width: 85%;
	margin: 0 auto;
}
.contact-header h2 {
	font-size: 2.2em;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #072833;
}
.contact_section_2{
	width: 50%;
	margin-left: 100px;
	display: block;
	padding-top: 20px;
}
.col-sm-4 p{
    color: #072833;
    font-family: 'Arvo', serif;
    float: right;
    font-size: 1.4em;
    margin-right: 80px;
}
.col-sm-4 a:hover{
    text-decoration: none;
    color: #ce4109;
}
.map_icon1 img{
	float: left;
	margin-left: 35px;
	text-align: center;
}
.map_icon2 img{
	margin-top: 5px;
	float: left;
	margin-left: 70px;
	text-align: center;
}
.map_icon3 img{
    margin-top: 7px;
	float: left;
	margin-left: 75px;
	text-align: center;
}

.copyright p{
    margin-top: 40px;
    text-align: center;
    font-family: 'Arvo', sans-serif;
    font-size: 1.3em;
}